header {
  background: #bbbbbb;
  padding: 20px 0;
}

.logo {
  width: 50%;
}
.caixa {
  /* colocando o menu dentro da caixa */
  position: relative;
  width: 940px;
  /* centralizando a caixa com o auto */
  margin: 0 auto;
}
nav {
  /* posição do elemento  */
  position: absolute;
  /* top: 175px; */
  top: 100px;
  right: 0;
}

nav li {
  display: inline;
  /* espaçamento */
  margin: 0 0 0 15px;
}
nav a {
  /* uppercase letra maiscula */
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}
.produtos {
  width: 940px;
  /* centralizando a caixa com o auto */
  margin: 0 auto;
  padding: 50px 0;
}
/* lista usar inline block  */
.produtos li {
  display: inline-block;
  text-align: center;
  /* tamanho igual */
  width: 30%;
  /* horientar pela linha de cima */
  vertical-align: top;
}

/* mexer no titulo  */
.produtos h2 {
  font-size: 30px;
  font-weight: bold;
}

.agenda a {
  color: #ffffff;
  text-decoration: none;
}

.agenda {
  margin-top: 10px;
  text-align: center;
  /* transition: 0.5s; */
  border: 2px solid black;
  border-radius: 15px;
  font-size: 20px;
  padding: 10px;
  background: #000000;
  /* color: #cccccc; */
  cursor: pointer;
}
