body {
  font-family: "Montserrat", sans-serif;
}

header {
  background: #bbbbbb;
  padding: 20px 0;
}
/* caixa do cabeçalho */
.caixa {
  /* colocando o menu dentro da caixa */
  position: relative;
  width: 90%;
  /* centralizando a caixa com o auto */
  margin: 0 auto;
}

nav {
  /* posição do elemento  */
  position: absolute;
  /* top: 175px; */
  top: 125px;
  right: 0;
}

nav li {
  display: inline;
  /* espaçamento */
  margin: 0 0 0 15px;
}
nav a {
  /* uppercase letra maiscula */
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 26px;
  text-decoration: none;
}

/* hover mouse en cima do elemento  */
/* mouse por cima dos links dentro do menu de navegacao */
nav a:hover {
  color: #c78c19;
  /* texto subilinhado  */
  text-decoration: underline;
}

.titulo-principal {
  margin: 0;
  top: 240px;
  /* posição do elemento  */
  position: absolute;
  right: 40%;
  font-size: 30px;
  font-weight: bold;
  opacity: 0.5;
}

/* pagina  */
/* imagem  */
.banner {
  width: 100%;
  margin-top: 5px;
  opacity: 0.7;
}

/* div do texto */

.tituloprincipal {
  text-align: center;

  margin: 0 0 1em;
  /* para que a fonte seja o dobro da fonte padrão, independe do tamanho dessa fonte padrão, utilizamos a medida em */

  font-size: 2em;

  /* usa o clear para limpar o float usado no utensilio */

  clear: left;
  /* opacidade no titulo */
  /* color: rgba(0, 0, 0, 0.4); */
}
/* para destacar so a primeira linha usa o pseudo elemento  */
/* .tituloprincipal:first-letter {
  font-weight: bold;
} */

/* para colocar colchete no texto usamos  */

/* .tituloprincipal:before {
  content: "[";
}
.tituloprincipal:after {
  content: "]";
} */

/* corpo principal sobre o salao  */
.principal {
  /* background: #cccccc; */
  padding: 3em 0;
  width: 940px;
  margin: 0 auto;
}

.principal p {
  margin: 0 0 1em;
  background: #fefefe;
  line-height: 1.2;
  text-align: justify;
}

strong {
  font-weight: bold;
}

.missa {
  font-size: 20px;
}

/* ler o que esta dentro do em */
em strong {
  color: #ff0000;
  font-style: italic;
}
/* imagem  */
.utensilios {
  width: 180px;
  /* posição com o texto em volta usando o float */
  /* float a afeta todos os elementos da pagina */
  float: left;
  margin: 0 20px 20px 0;
  opacity: 1;
  transition: 400ms;
  /* sombra na imagem   */
  box-shadow: 5px 5px 5px blue;
}

/* com o mouse por cima */
.utensilios:hover {
  /* deixa o elemento opaco  */
  opacity: 0.3;
}

/* parte dos beneficios */

.beneficios {
  padding: 3em 0;
  /* background: #bbbbbb; */

  background: linear-gradient(#fefefe, #888888);
}

.conteudo-beneficios {
  width: 720px;
  margin: 0 auto;
}

.lista-beneficio {
  /* no inline block o elemento no html tem que esta colado um no outro */
  display: inline-block;
  /* alinhado na parte de cima  */
  vertical-align: top;
  width: 40%;
}

.items {
  font-style: italic;

  font-size: 18px;

  /* line-height altura da linha */
  line-height: 1.5;
  margin-right: 7px;
}
/* para colocar a estrela antes pega a estrela do google */
.items:before {
  content: "🟉";
}

/* pseudo elemento para selecionar um item só */

.items:first-child {
  font-weight: bold;
}
/* pseudo elemento para selecionar elemento pares */
/* .items:nth-child(2n) {
  font-weight: bold;
} */

.imgebeneficio {
  width: 60%;
  /* deixa o elemento opaco  */
  opacity: 1;
  transition: 400ms;
  /* sombra na imagem   */
  /* box-shadow: 5px 5px 30px 20px black; */
  box-shadow: 5px 5px 30px black;
}

/* com o mouse por cima */
.imgebeneficio:hover {
  /* deixa o elemento opaco  */
  opacity: 0.3;
}

.video {
  margin: 1em auto;

  width: 560px;
}

.mapa {
  padding: 3em 0;
  /* para colocar o gradiente usa o linear-gradient(orange, blue) */
  background: #bbbbbb;
  /* background: linear-gradient(#fefefe, #888888); */
}
.mapa p {
  margin: 0 0 2em;
  text-align: center;
}

.mapa-imagem {
  width: 940px;
  margin: 0 auto;
}

/* pagina de produtos */
.produtos {
  width: 940px;
  /* centralizando a caixa com o auto */
  margin: 0 auto;
  padding: 50px 0;
}
/* lista usar inline block  */
.produtos li {
  display: inline-block;
  text-align: center;
  /* tamanho igual */
  width: 30%;
  /* horientar pela linha de cima */
  vertical-align: top;

  margin: 0 1.5%;
  padding: 30px 20px;
  /* border-box, com isso aqui, os meus 30%, agora são definitivos, são sempre a largura e esses pixels de espaçamento interno, estão dentro desses 30%. */
  box-sizing: border-box;
  /* height: 500px; */
  border: 2px solid #000000;
  border-radius: 10px;
  /* height: 490px; */
}

/* para destacar item com o mouse por cima usa o hover */

.produtos li:hover {
  border-color: #c78c19;
  font-size: 40px;
}

/* comportamento ativo com o mouse clicado */
.produtos li:active {
  border-color: #088c19;
}

/* altera o tamanho da font quando passa o mouse por cima dentro da estrutura  */

.produtos li:hover h2 {
  font-size: 40px;
}

/* mexer no titulo  */
.produtos h2 {
  font-size: 30px;
  font-weight: bold;
}

.descricao {
  font-size: 18px;
  padding: 20px 0;
}

.servico {
  padding: 50px 0 0;
}

.agenda a {
  color: #ffffff;
  text-decoration: none;
}

.agenda {
  /* margin-top: 15px; */
  text-align: center;
  /* transition: 0.5s all; */
  border: 2px solid black;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  background: #000000;

  cursor: pointer;
}

.agenda:hover {
  background: #c78c19;
}

/* comportamento ativo com o mouse clicado */
.agenda:active {
  border-color: #088c19;
  background: #088c19;
}

/* contato */

.formulario-contato {
  width: 940px;
  margin: 0 auto;
}

.contato {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin: 20px 0;
}

form {
  margin: 40px 0;
}

form label {
  display: block;
  font-size: 20px;
  margin: 15px 0;
}

.input-padrao,
textarea {
  width: 90%;
  padding: 10px 25px;
  border: 1px solid #333;
  border-radius: 10px;
  font-size: 20px;
  /* margin: 0 0 20px 0; */
}

legend {
  padding: 20px 0 0 0;
  font-size: 20px;
}

.preferecontato {
  margin: 0 0 20px 0;
}
/* .checkbox {
  margin: 15px 0;
} */
input[type="radio"],
input[type="checkbox"] {
  /* border: 0px; */
  width: 30px;
  height: 20px;
  margin: 15px 0 0 0;
}

select {
  width: 30%;
  padding: 10px 25px;
  border: 1px solid #333;
  border-radius: 10px;
  font-size: 20px;
  margin: 0;
}

button {
  padding: 15px 0;
  border: none;
  border-radius: 15px;
  background: #333;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  /* transition: 1s all; */
}
/* mouse por cima */
button:hover {
  background: #088c19;
  /* aumenta o tamanho do elemento em 20% */
  /* transform: Scale(1.2); */
  /* rotaciona o botao em 70 graus  */
  /* transform: rotate(70deg); */
}

/* comportamento ativo com o mouse clicado */
button:active {
  background: BLUE;
}

/* tabela */

table {
  margin: 20px 0 40px;
}
/* rodapé */
footer {
  text-align: center;
  /* width: 100%; */
  background: #bbbbbb;
  /* background: black; */
  padding: 20px 0;
  /* background: linear-gradient(#fefefe, #888888);
} */
}
nav i {
  /* uppercase letra maiscula */

  color: black;

  font-size: 50px;
}

/* passar mouse por cima */
/* nav i:hover {
  color: #c78c19;
  cursor: pointer;
  width: 50%;
} */
.copyright {
  font-size: 15px;
  color: #000000;
  font-weight: 900px;
  margin-top: 20px;
}
/* tabela */
thead {
  background: #555555;
  color: white;
  font-weight: bold;
}
td,
th {
  border: 1px solid #000000;
  padding: 8px 15px;
}
/* responsividade */

/* largura maxima de 480px */
@media screen and (max-width: 540px) {
  .caixa,
  .principal,
  .conteudo-beneficios,
  .mapa-imagem,
  .formulario-contato {
    width: auto;
    margin: 0 15px;
  }

  h1 {
    text-align: center;
  }
  .logo {
    width: 60%;
  }
  nav,
  .titulo-principal {
    position: static;
    margin-top: 10px;
    text-align: center;
  }

  nav a {
    font-size: 18px;
  }
  .lista-beneficio,
  .imgebeneficio {
    width: 100%;
    margin-top: 20px;
  }

  .produtos li {
    display: block;
    margin: 0 40px 20px 50px;
  }

  select {
    width: 80%;
  }
  .checkbox {
    line-height: 1.2;
  }
  table {
    margin: 40px 60px 40px;
  }
}
/* largura maxima de 480px */
@media screen and (max-width: 940px) {
  .caixa,
  .principal,
  .conteudo-beneficios,
  .mapa-imagem,
  .formulario-contato {
    width: auto;
    margin: 0 25px;
  }

  .titulo-principal {
    position: static;
    margin-top: 10px;
    text-align: center;
  }
  /* .logo {
    width: 40%;
  } */
  nav {
    right: 15px;
    top: 60px;
    margin-right: 5px;
  }
  /* .input-padrao,
  textarea {
    width: 95%;
  } */
}
